<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="author">
  <link href="{{ SITEURL }}/theme/blog.css" rel="stylesheet">
  <link href="{{ SITEURL }}/theme/pygments-tango.css" rel="stylesheet">
  <title>{% block title %}{{ SITENAME }}{% endblock %}</title>

</head>

<body>
  <ul>
    {% if DISPLAY_PAGES_ON_MENU %} {% for page in pages %}
    <li>
      <a href="{{ SITEURL }}/{{ page.url }}">{{ page.title }}</a>
    </li>
    {% endfor %} {% endif %}
  </ul>
  <div class="header">
    <a href="{{ SITEURL }}/">Блог Людмилы Третьяковой</a>
  </div>

  {% block content %} {% endblock %}

  <!-- Yandex.Metrika counter -->
<script type="text/javascript" >
  (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
  m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
  (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

  ym(52849069, "init", {
       clickmap:true,
       trackLinks:true,
       accurateTrackBounce:true
  });
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/52849069" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
</body>

</html>