{% extends "base.html" %} 

{% block content %} 

    {% if articles %}
        {% for article in articles_page.object_list %}
            <article>
                <h1>
                    <a href="{{ SITEURL }}/{{ article.url }}" title="{{ article.title }}">{{ article.title }}</a>
                </h1>
                <div class="add-info">{{ article.date|strftime('%Y-%m-%d %H:%M') }}</div>
                <div>
                    {{ article.content }}
                </div>
                <ul>
                    {% for tag in article.tags %}
                    <li>
                        <a href="{{ SITEURL }}/{{ tag.url }}"> {{ tag }}</a>
                    </li>
                    {% endfor %}
                </ul>
                </div>
            </article>
        {% endfor %}

        <div class="pagination">
            {% if articles_page.has_previous() %}
                {% if articles_page.previous_page_number() == 1 %}
                    <a href="{{ SITEURL }}/{{ page_name }}.html">&larr; назад</a>
                {% else %}
                    <a href="{{ SITEURL }}/{{ page_name }}{{ articles_page.previous_page_number() }}.html">&larr; назад</a>
                {% endif %}
            {% endif %}

            <span>{{ articles_page.number }}&nbsp;/&nbsp;{{ articles_paginator.num_pages }}</span>

            {% if articles_page.has_next() %}
                <a href="{{ SITEURL }}/{{ page_name }}{{ articles_page.next_page_number() }}.html">вперёд &rarr;</a>
            {% endif %}
        </div>

    {% endif %}
{% endblock %}