body {
  background-image: url('img/bg.png');
  font-family: Verdana, Geneva, sans-serif;
  margin: 0 auto;
  max-width: 768px;
  --font-color: #666;
  --link: #ff6644;
}

.header{
  font-size: 25px;
  padding: 20px 0;
  text-transform: uppercase;
  transform: scaleX(0.8);
}

.header a, article h1 a{
  color: var(--font-color);
  text-decoration: none;
}

article {
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
  line-height: 1.5em;
  margin-bottom: 50px;
  padding: 20px;
}

article h1{
  font-weight: normal;
  text-align: center
}


article h2{
  color: var(--font-color);
  font-size: 23px;
  font-weight: normal;
  text-align: center
}

article h1 a:hover{
  color: var(--link);
  text-decoration: underline;
}

.add-info {
  font-size: 12px;
  text-align: center;
}

article p {
  padding: 10px;
  text-align: justify;
  text-indent: 2em; 
  margin: 0;
}

article p img{
  border: 1px solid #CCC;
  display: block;
  margin: 10px auto;
  max-width: 100%;
}

article a{
  color: var(--link); 
}

.pagination{
  text-align: center;
  margin-bottom: 50px;
}

.pagination span {
  font-weight: bold;
  color: #555;
}

.pagination a {
  color: #555;
  text-decoration: none
}

.pagination a:hover {
  text-decoration: underline;
  color: var(--link);
}


code{
  padding: 1em;
  background-color: #f1f1f1;
  display: block;
  text-align: left;
  white-space: pre-wrap;
}